<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aoliao.notebook">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_share"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data android:name="com.amap.api.v2.apikey"
                   android:value="97fb1da5cd4a493e7e2d52581a706962"/>

        <activity
            android:name=".ui.EditorActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.NoteActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.RecycleActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.MobSMSCodeActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity android:name=".ui.CollectActivity"
                  android:theme="@style/MainTheme"/>
        <activity android:name=".ui.ReleaseActivity"
                  android:theme="@style/MainTheme"/>
        <activity android:name=".ui.UserInfoActivity"
                  android:theme="@style/MainTheme"/>
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.ReadArticleActivity"
                  android:theme="@style/MainTheme"/>
        <activity android:name=".ui.ViewUserInfoActivity"
                  android:theme="@style/MainTheme"/>
        <activity android:name=".ui.UserListActivity"
                  android:theme="@style/MainTheme"/>
        <activity android:name=".ui.EditUserInfoActivity"
                  android:theme="@style/MainTheme"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:theme="@style/CityPicker.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

    </application>




</manifest>